
  /**
    * transform-origin -> changing the transform origin
    * transform-origin: center center | 50% 50%;
    * transform-origin: xAxis yAxis;
    * xAxis : left, right, top, bottom, center, percentage, lengths
    * yAxis : left, right, top, bottom, center, percentage, lengths
    *
    *
    *
    *
    */

  .wrapper {
    width: 200px;
    height: 200px;
    border: 1px dashed red;
    margin: 100px auto;
  }

  .inner {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    transform-origin: center bottom;
    transform: rotate(40deg);
  }
