
/**
  *
  * translate -> moves elements in vertical or horizontal directions
  * transform: translate();  -> syntax
  * - translate(tx, ty);
  * - translate(tx) = tranlate(tx, 0)
  * - translateX(tx);
  * - translateY(ty);
  * tx -> the length of the translation to x axis = length or percantage values
  * ty -> the length of the translation to y axis = length or percantage values
  *
  *
  */

  .wrapper {
    width: 300px;
    height: 300px;
    border: 1px dashed red;
    margin: 0 auto;
  }

  .inner {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    /* Translate Element in X Axis */
    //transform: translate(-50px);
    //transform: translateX(100px);
    /* Translate Element in Y Axis */
    //transform: translate(0, 50px);
    //transform: translateY(100px);
    /* Translate Element in Both Axis */
    transform: translate(50px, 50px);

  }
