

/**
  *
  * elements -> block level and inline level
  * transformables -> block levels
  * non-transformables -> inline levels
  *
  *
  *
  *
  **/


.wrapper {
  width: 200px;
  height: 200px;
  border: 1px dashed red;
  margin: 100px auto;
}

.inner {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  transform: rotate(20deg);
}

.inline {
  display: inline;
  transform: rotate(20deg);
}
